@tailwind base;
@tailwind components;
@tailwind utilities;
@import './custom-utilities.css';
@import './custom-ant-styles.css';
@import './custom-salary-styles.css';

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Public Sans Variable', sans-serif;
  font-weight: 400;
}

.background-login {
  background-image: url('/images/background.png');
  background-repeat: no-repeat;
  background-size: cover;
}
.background-login-1 {
  background-image: url('/images/background-1.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.colored-column-card {
  position: relative;
}

.colored-column-card::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 4px;
  height: 100%;
  background-color: blue;
}

.content {
  padding-left: 16px;
}
